{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/consistent-type-definition": 2,
    "@typescript-eslint/avoidEscape": true,
    "@typescript-eslint/allowTemplateLiterals": true,
    "@typescript-eslint/quotes": "off",
    "prettier/prettier": ["error"]
  }
}
