.navbar {
  width: 100%;
  background-color: 'white';
  overflow: auto;
}

.navbar a {
  float: center;
  text-align: center;
  padding-left: 8%;
  padding-right: auto;
  padding-top: auto;
  padding-bottom: auto;
  /* position: relative; */

  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  width: 100%;

}
