.heading {
  font: Arial Black;
  font-size: 350%;
  text-align: center;
  color: #005d71;
  padding-bottom: 20px;
  border-bottom: 0.25rem solid #c8a326;
  border-bottom-color: #c8a326;
  box-shadow: 0 4px 4px -4px black;
  margin-left: 33%;
  margin-right: 33%;
}

.centered {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
  height: 25%;
}

.paragraph-text {
  padding-top: 2.5%;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  font-weight: bolder;
  color: #005d71;
}

.centered-table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  width: 75%;
  border: solid black 1px;
  border-radius: 10px;
  border-spacing: 0px;
  overflow: hidden;
  

}

th:not(:last-child) {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #005d71;
  color: white;
  /* border-radius: 10px; */
  
  /* border: 1px solid #000; */
  border-right: 1px solid #000;
  padding: 8px;
}

th:last-child {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #005d71;
  color: white;
  /* border-radius: 10px; */
  
  /* border: 1px solid #000; */
  /* border-left: 1px solid #000; */
  padding: 8px;
}

td:not(:last-child) {
  /* border: 1px solid #000; */
  /* border-left: 1px solid #000;*/
  border-top: 1px solid black;
  border-right: 1px solid black;
  padding: 8px;
}

td:last-child{
  /* border: 1px solid #000; */
  /* border-left: 1px solid #000;*/
  border-top: 1px solid black;
  
  padding: 8px;
}

.centered-form {
  text-align: center;
}

.div-form {
  display: block;
  text-align: center;
  padding-top: 5em;
}
.form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.h2 {
  color: #005d71;
}

.newsLink {
  color: #c8a326;
}

.inputbuttontables {
  color: #005d71;
  border: 1px solid black;
  border-radius: 5px;
}

.adminforminput {
  color: #c8a326;
  border: 1px solid black;
  border-radius: 3px;
}